- model_class = Album
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
  %tbody
    - @albums.each do |album|
      %tr
      %br
        %td= album.user.email
        %td= album.name
        %td= l album.created_at, format: :long
        %td
          = link_to album_path(album), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do
            = glyph 'info-sign'